<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Imuni - Carteira Vacinal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Imuni - Carteira Vacinal</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-buttons>
    <ion-button
      size="large"
      color="danger"
      class="botao-excluir"
      (click)="confirmarExclusao()"
    >
      Deletar Criança
    </ion-button>
  </ion-buttons>

  <ion-list lines="none">
    @for (vacina of vacinas(); track vacina.id) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{vacina.nome}}</ion-card-title>

        <ion-card-subtitle>{{vacina.dose}}</ion-card-subtitle>
        <ion-button
          class="button-detail"
          [routerLink]="['/detalhes-vacina', vacina.id, idCrianca]"
          >Detalhes</ion-button
        >
      </ion-card-header>
      <ion-card-content
        >{{vacina.dataPrevista | date: 'dd/MM/yyyy'}}</ion-card-content
      >
      @if (obterStatusAtual(vacina) == 'Aplicada') {
      <ion-card-content class="card-verde"
        >Aplicada em: {{vacina.dataAplicacao | date:
        'dd/MM/yyyy'}}</ion-card-content
      >
      } @else if (obterStatusAtual(vacina) == 'Atrasada') {
      <ion-card-content class="card-vermelho">Atrasada</ion-card-content>
      <div class="container-botao">
        <ion-button shape="round" (click)="abriConfirmacaoAplicacao(vacina)"
          >Marcar como Aplicada</ion-button
        >
      </div>
      } @else {
      <ion-card-content class="card-amarelo">Pendente</ion-card-content>
      <div class="container-botao">
        <ion-button shape="round" (click)="abriConfirmacaoAplicacao(vacina)"
          >Marcar como Aplicada</ion-button
        >
      </div>
      }
    </ion-card>
    }@empty {
    <p>Erro ao recuperar carteira vacinal</p>
    }
  </ion-list>
</ion-content>
