<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Imuni - Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Imuni - Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="loginForm" (ngSubmit)="aoEntrar()">
    <ion-item lines="full" class="ion-margin-bottom">
      <ion-input
        label="E-mail"
        labelPlacement="floating"
        type="email"
        formControlName="email"
        placeholder="Insira seu E-mail"></ion-input>
    </ion-item>
    <ion-item lines="full" class="ion-margin-bottom">
      <ion-input
        label="Senha"
        labelPlacement="floating"
        type="password"
        formControlName="senha"
        placeholder="Digite sua senha"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="loginForm.invalid" class="ion-margin-bottom">Entrar</ion-button>
  </form>

</ion-content>
