<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo-longo">Imuni - Detalhes Vacina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="titulo-longo" size="large"
        >Imuni - Detalhes Vacina</ion-title
      >
    </ion-toolbar>
  </ion-header>

  <div class="topo-detalhe">
    <span class="badge-status">{{ vacina()?.status }}</span>
    <h2>{{ vacina()?.nome }}</h2>
    <p>{{ vacina()?.dose }}</p>
  </div>
  <ion-list lines="inset" class="ion-margin-bottom">
    <ion-list-header>
      <ion-label>Cronograma</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>
        <h3>Data Prevista</h3>
        <p>{{ vacina()?.dataPrevista | date: 'dd/MM/yyyy' }}</p>
      </ion-label>
    </ion-item>

    @if (vacina()?.status === 'Aplicada') {
    <ion-item>
      <ion-label>
        <h3>Aplicada em</h3>
        <p>{{ vacina()?.dataAplicacao | date: 'dd/MM/yyyy' }}</p>
      </ion-label>
    </ion-item>
    }
  </ion-list>

  <ion-accordion-group class="ion-padding-horizontal">
    <ion-accordion value="sobre">
      <ion-item slot="header">
        <ion-icon slot="start" name="shield-checkmark-outline"></ion-icon>
        <ion-label>Para que serve?</ion-label>
      </ion-item>
      <div class="ion-padding accordion" slot="content">
        {{vacina()!.descricao}}
      </div>
    </ion-accordion>

    <ion-accordion value="reacoes">
      <ion-item slot="header">
        <ion-icon slot="start" name="alert-circle-outline"></ion-icon>
        <ion-label>Possíveis Reações</ion-label>
      </ion-item>
      <div class="ion-padding accordion" slot="content">
        {{vacina()!.reacoes}}
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
